// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// GLOBAL STYLING ELEMENTS

body {
  background: $berserker_primary;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
}

ul {
 list-style-type: none; 
}

main {
  flex: 1;
}

// NAVBAR PARTIAL
#logout-form {
  display: none;
}

//FOOTER PARTIAL
footer {
  width: 100%;
  margin-top: 20px;
}

// WELCOME BLADE
.welcome-container {
  position:relative;
  height:600px;
  color: $berserker_tertiary;
  background-repeat:no-repeat;
  background-position: center center;
}

.welcome-container-info {
  position:absolute;
  top:40%;
  width:100%;
  background:rgba(1,1,1,0.7);
}

// MOVIES BLADE
.match-container a {
  text-decoration:none;
  color:black;
}

// MOVIE BLADE
.match-container a {
  text-decoration:none;
  color:black;
}

.movie-card {
  text-decoration:none;
  color:black;
}
