// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// GLOBAL STYLING ELEMENTS

a:hover {
  text-decoration: none;  
}

body {
  background: $berserker_primary;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
}

ul {
 list-style-type: none; 
 padding: 0;
}

main {
  flex: 1;
}

.mw-500px {
  max-width: 500px;
}

// COLORS
.text-berserker-primary {
  color: $berserker_primary;
}

// NAVBAR PARTIAL
#logout-form {
  display: none;
}

//FOOTER PARTIAL
footer {
  width: 100%;
}

// SPLASH SCREEN / WELCOME SCREEN
.grid-container {
  display: grid;
  grid-template-columns: 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "year year horror horror"
    "year year horror horror"
    "comedy comedy comedy comedy";
}

.hot-year {
  background: url("https://images.pexels.com/photos/1661688/pexels-photo-1661688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center fixed;
  grid-area: year;
  color: white;
}

.hot-horror {
  background: url("https://images.pexels.com/photos/1690081/pexels-photo-1690081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center fixed;
  grid-area: horror;
  color: white;
}

.hot-comedy {
  background: url("https://images.pexels.com/photos/1267696/pexels-photo-1267696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center top fixed;
  grid-area: comedy;
  color: white;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  border: 1px solid rgba(1, 1, 1, 0.1);
  margin: 5px;
  min-height: 300px;
}

.panel-link {
  text-align:center;
  flex-grow:1;
  color: white;
  text-decoration: none;
  background:rgba(1,1,1,0.7);
}

.panel:hover {
  opacity: 1;
  -webkit-transition: background 2s; /* Safari */
  transition: color background 2s;
}

// WELCOME BLADE
.welcome-container {
  position:relative;
  height:600px;
  color: $berserker_tertiary;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

.welcome-container-info {
  position:absolute;
  top:40%;
  width:100%;
  background:rgba(1,1,1,0.7);
}

// MOVIES BLADE
.match-container a {
  text-decoration:none;
  color:black;
}

.overview-text {
  max-height: 138px;
  overflow-y: hidden;
}

// MOVIE BLADE
.match-container a {
  text-decoration:none;
  color:black;
}

.movie-card {
  text-decoration:none;
  color:black;
}

.review-delete-btn {
  min-width: 36px;
}

.comment-delete-btn {
  min-width: 36px;
}

// MOVIE BLADE - TRAILERS
@mixin responsiveiframecontainer($max-width) {
  max-width: $max-width;
  margin: auto;
}

%responsiveiframewrapper {
  overflow: hidden;
  height: 0;
  position: relative;
}

.videos {
  min-width: 600px;
}

.videocontainer {
  @include responsiveiframecontainer(500px);
}

.videowrapper {
  @extend %responsiveiframewrapper;
  padding-bottom: 56.25%;
}

.responsiveiframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media screen and (max-width: 600px) {
  .videos {
    width: 100%;
    min-width: 0;
    margin: 1rem 0;
    .text-center {
      background: $berserker_primary;
    }
  }
}

// WATCHLIST
.list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-container {
  background-color: rgb(223, 223, 223);
  min-height: 100vh;
}

// DASHBOARD
.left-container {
  max-width: 700px;
}
.dashboard-review {
  min-width: 320px;
}

@media screen and (max-width: 1100px) {
  .inner-container {
    flex-flow: column nowrap;
    align-content: center;
  }
}