// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// GLOBAL STYLING ELEMENTS

a:hover {
  text-decoration: none;  
}

body {
  background: $berserker_primary;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
}

ul {
 list-style-type: none; 
}

main {
  flex: 1;
}

// COLORS
.text-berserker-primary {
  color: $berserker_primary;
}

// NAVBAR PARTIAL
#logout-form {
  display: none;
}

//FOOTER PARTIAL
footer {
  width: 100%;
  margin-top: 20px;
}

// SPLASH SCREEN / WELCOME SCREEN
.grid-container {
  display: grid;
  grid-template-columns: 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "year year horror horror"
    "year year horror horror"
    "staff staff staff staff";
}

.hot-year {
  background: url("https://images.pexels.com/photos/1661688/pexels-photo-1661688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center fixed;
  grid-area: year;
  color: white;
}

.hot-horror {
  background: url("https://images.pexels.com/photos/1690081/pexels-photo-1690081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center fixed;
  grid-area: horror;
  color: white;
}

.staff-pick {
  background: url("https://images.pexels.com/photos/1204649/pexels-photo-1204649.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center fixed;
  grid-area: staff;
  color: white;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  border: 1px solid rgba(1, 1, 1, 0.1);
  margin: 5px;
  min-height: 300px;
}

.panel-link {
  text-align:center;
  flex-grow:1;
  color: white;
  text-decoration: none;
  background:rgba(1,1,1,0.7);
}

.panel:hover {
  opacity: 1;
  -webkit-transition: background 2s; /* Safari */
  transition: color background 2s;
}

// WELCOME BLADE
.welcome-container {
  position:relative;
  height:600px;
  color: $berserker_tertiary;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

.welcome-container-info {
  position:absolute;
  top:40%;
  width:100%;
  background:rgba(1,1,1,0.7);
}

// MOVIES BLADE
.match-container a {
  text-decoration:none;
  color:black;
}

// MOVIE BLADE
.match-container a {
  text-decoration:none;
  color:black;
}

.movie-card {
  text-decoration:none;
  color:black;
}
